.form {
  &__row {
    margin-bottom: 20px;
  }

  &__btn-submit {
    width: 100%;
    height: 50px;
    background: #000;
  }
}

.text-field {
  position: relative;
  border-radius: 5px;
  height: 50px;
  border: 2px solid #000;
}
.text-field__label {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 20px;
  transition: 0.2s linear;
  background: #fff;
  padding: 2px;
  color: #000;
  border-radius: 4px;
}

.text-field__input {
  width: 100%;
  font-size: 20px;
  height: 100%;
  padding: 4px 10px;
  border-radius: 2px;
}

.text-field__input,
.text-field__input:focus {
  outline: none;
  border: 2px solid transparent;
}
.text-field__input:focus {
  border: 2px solid var(--grey-6);
}

.text-field__input:focus ~ .text-field__label,
.text-field__input:not(:placeholder-shown) ~ .text-field__label {
  transform: translate(0, -19px);
  font-size: 15px;
}
