.theme-toggler {
  svg {
    width: 20px;
  }

  &__btn {
    color: var(--font-color-primary);
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;

    &:hover {
      background: hsl(var(--grey-1), 0.3);
    }
  }
}
