.button-base {
  border-radius: 6px;
  padding: 6px 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey-10);
  outline: none;
  border: none;
  position: relative;
}

.select {
  width: 300px;
  position: relative;
  &__btn {
    background: var(--grey-10);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    &::after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      color: red;
      background: url("../assets/icons/arrow-top-bottom.svg") no-repeat center;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__dropdown {
    position: absolute;
    background: var(--grey-10);
    border-radius: 5px;
    width: 100%;
    transition: 0.2s ease-out;
    transform: translate3d(0, 5px, 0);
    opacity: 1;
    z-index: 10;

    &--inactive {
      visibility: hidden;
      transform: translate3d(0, 10px, 0);
      opacity: 0;
    }

    &__item {
      padding: 10px 15px;

      &:hover {
        cursor: pointer;
        background: var(--grey-6);
      }
    }
  }
}
