.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  color: #000;
  border-radius: var(--border-radius);

  &__title {
    margin-bottom: 20px;
    font-size: 25px;
  }

  &__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: -10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    border: 1px solid hsl(var(--grey-6));
  }
  &__content {
    padding: 15px 0;
  }
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
