@font-face {
  font-family: "FuturaPT";
  src: url(../assets/fonts/FuturaPT/FuturaPT-Light.woff);
}

@font-face {
  font-family: "FuturaPT";
  src: url(../assets/fonts/FuturaPT/FuturaPT-Medium.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  src: url(../assets/fonts/FuturaPT/FuturaPT-Medium.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FuturaPT";
  src: url(../assets/fonts/FuturaPT/FuturaPT-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  src: url(../assets/fonts/FuturaPT/FuturaPT-Bold.woff);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FuturaHv";
  src: url(../assets/fonts/FuturaPT/FuturaPT-Heavy.woff);
  font-weight: bold;
}
